.homePage {
  background-color: beige;
  color: red;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* .homePage p {
  animation: scrolling-left 10s linear infinite;
  animation-delay: 0;
}

@keyframes scrolling-left {
  0% {
    transform: translateX(90%)
  }

  100% {
    transform: translateX(-10%)
  }
} */